# ==========================================
# Entornos Virtuales y Variables de Entorno (Claves de API)
# ==========================================
.env
.env.*
venv/
.venv/
env/

# ==========================================
# Datasets y Archivos Pesados / Modelos de IA
# ==========================================
data/
datasets/
*.csv
*.json
*.parquet
*.h5
*.pkl
*.pt
*.onnx
*.bin

# ==========================================
# Jupyter Notebooks Checkpoints y Caché
# ==========================================
.ipynb_checkpoints/
__pycache__/
# Streamlit
.streamlit/secrets.toml
